In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-04-05 19:14:23,71.9167,114.0833,-25.44,100,67,2.15
1,1,Cape Town,ZA,2022-04-05 19:14:23,-33.9258,18.4232,60.89,85,16,3.00
2,2,Ushuaia,AR,2022-04-05 19:14:24,-54.8000,-68.3000,38.86,81,75,26.46
3,3,Bredasdorp,ZA,2022-04-05 19:12:58,-34.5322,20.0403,60.96,68,0,14.47
4,4,Bull Savanna,JM,2022-04-05 19:14:24,17.8868,-77.5902,83.44,57,62,18.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Bull Savanna,JM,2022-04-05 19:14:24,17.8868,-77.5902,83.44,57,62,18.05
6,6,Port-Gentil,GA,2022-04-05 19:14:24,-0.7193,8.7815,81.32,79,22,12.62
8,8,Chatra,IN,2022-04-05 19:14:25,24.2167,84.8667,75.92,8,21,2.08
10,10,Pinhao,BR,2022-04-05 19:14:26,-25.6956,-51.6597,77.50,59,33,4.12
12,12,Kapaa,US,2022-04-05 19:14:26,22.0752,-159.3190,76.98,95,100,13.80
14,14,Faanui,PF,2022-04-05 19:14:27,-16.4833,-151.7500,83.05,75,7,21.54
19,19,Wilmington,US,2022-04-05 19:12:04,34.2257,-77.9447,75.97,58,0,18.41
32,32,Butaritari,KI,2022-04-05 19:12:59,3.0707,172.7902,80.92,82,37,16.93
41,41,Kirakira,SB,2022-04-05 19:14:35,-10.4544,161.9205,80.02,87,98,13.11
43,43,Quatre Cocos,MU,2022-04-05 19:14:35,-20.2078,57.7625,77.11,85,98,11.63

In [11]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4   Bull Savanna      JM     83.44  17.8868  -77.5902
6    Port-Gentil      GA     81.32  -0.7193    8.7815
8         Chatra      IN     75.92  24.2167   84.8667
10        Pinhao      BR     77.50 -25.6956  -51.6597
12         Kapaa      US     76.98  22.0752 -159.3190
14        Faanui      PF     83.05 -16.4833 -151.7500
19    Wilmington      US     75.97  34.2257  -77.9447
32    Butaritari      KI     80.92   3.0707  172.7902
41      Kirakira      SB     80.02 -10.4544  161.9205
43  Quatre Cocos      MU     77.11 -20.2078   57.7625

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Bull Savanna,JM,83.44,17.8868,-77.5902,Big Red's
6,Port-Gentil,GA,81.32,-0.7193,8.7815,Fengshui Residence
8,Chatra,IN,75.92,24.2167,84.8667,GOPI BHOJNALAY
10,Pinhao,BR,77.50,-25.6956,-51.6597,Pinhão Park Hotel
12,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Faanui,PF,83.05,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
19,Wilmington,US,75.97,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
32,Butaritari,KI,80.92,3.0707,172.7902,Isles Sunset Lodge
41,Kirakira,SB,80.02,-10.4544,161.9205,SanBiz Lodge
43,Quatre Cocos,MU,77.11,-20.2078,57.7625,Sunrise Attitude Hotel

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))